@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
/* Marlon Sanchez*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #525252;
  font-family: "Poppins", sans-serif;
}

.container
{
    max-width: 1200px;
    margin: 0 auto;
}

.header
{
    background-image: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)),
        url(Imagenes/Fondo.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vh;
    display: flex;
    align-items: center;   
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #CE9678;
}

#menu {
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu-label{
    cursor: pointer;
    display: none;
}

.header-content{
    text-align: center;
}

.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p{
    font-size: 16px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #CE967B;
    color: #F9FAFC;
    text-transform: uppercase;
}
.btn-1:hover{
    background-color: #EBAD8D;
}

.inicio{
    padding: 100px 0;
    background-color: #E1E2E6;
    position: relative;
}

.inicio-content{
    text-align: center;
}

.inicio-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.inicio-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.inicio-1{
    padding: 0 25px;
}

.inicio-1 img{
    width: 200px;
}

.inicio-img {
    position: absolute;
    top: 0;
    right: 0;
}

.inicio-1 h3{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}



.general{
    display: flex;
}

.general-1{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
}

.general-2{
    background-image: url(Imagenes/Fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p{
    font-size: #414247;
    color: #414247;
    margin: 25px 0 45px 0;
}


.footer{
    padding: 120px 0;
    background-color: #000000;
     background-image: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)),
        url(Imagenes/Cesba1.jpg);
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3{
    font-size: 18px;
    color: #F9FAFC;
    margin-bottom: 15px;
}

.link a{
    font-size: 16px;
    color: #C5C5C5;
    display: block;
    margin-bottom: 15px;
}

@media(max-width:991px){
    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header{
        min-height: 0vh;
    }

    .header-content{
        padding: 100px 30px;
    }

    .header-content p{
        padding: 0;
    }

    .inicio{
        padding: 30px;
    }

    .inicio-content h2{
        padding: 0;
    }

    .txt-p{
        padding: 0;
    }

    .inicio-group{
        flex-direction: column;
        margin-bottom: 0;
    }
    
    .inicio-img{
        display: none;
    }

    .services{
        padding: 0;
    }

    .services-content p{
        padding: 0;
    }

    .services-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-1{
        margin-bottom: 25px;
    }
}



.Diego{
    transition:box-shadow 1s ease;
    background-color: #87aac2;
    Margin: 3rem;
    border-radius:2rem ;
    padding: 1rem 0;
    cursor: pointer;
}
.Diego:hover{
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    align-items: center;
        
}

.marlon{
    transition:box-shadow 1s ease;
    background-color: #9e627c;
    Margin: 3rem;
    border-radius:2rem ;
    padding: 1rem 0;
    cursor: pointer;
}
.marlon:hover{
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    align-items: center;
        
}

.inicio{
    background-color: #3E4245; /* Solo esta sección cambia */
  padding: 20px;
  border-radius: 10px;
}

.Foto{
    border-radius: 1rem;
}
/*#3E4245 #DCECF7
/* Marlon Alberto Sánchez Ortiz 19/08/2025 10:15*/